<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Msosi</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='nav_style.css') }}" type="text/css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
    <link rel="icon" type="image/gif" href="{{ url_for('static', filename='favicon/animated_favicon1.gif') }}">

    {% include 'includes/_new_nav.html' %}
    {% block body %} {% endblock %}

</head>
</html>