{% extends 'home/new_layout.html' %}
{% block body %}

<link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}" type="text/css">
<div class="container">
    <form action="/register" method="post">
        <img id="logo" src="{{url_for('static', filename='img/msosi_logo.png')}}">
        <!--<h2 >Register here</h2>-->
        <input type="text" name="firstName" id="inputFirstname" class="form-control" placeholder="First name" required autofocus>
        <input type="text" name="lastName" id="inputLastname" class="form-control" placeholder="Last name" required autofocus>
        <input type="text" name="address" id="inputAddress" class="form-control" placeholder="Street address" required autofocus>
        <input type="text" name="phone" id="inputNumber" class="form-control" placeholder="Phone number" required autofocus>
        <input type="text" name="email" class="form-control" placeholder="Email address" required autofocus autocomplete="on">
        <input type="password" name="password" class="form-control" placeholder="Password" required>
        <input type="password" name="confirm" id="inputConfirmPassword" class="form-control" placeholder="Confirm password" required>
        <a href="/login"> Already a member?</a>
        <input type="submit" class="submit-button" value="Register">
    </form>
</div>
{% endblock %}