html{
    background-image: url("cook-food-kitchen-eat-54455.jpeg");
    font-family: Baskerville;
}

body{
    margin: 0 auto;
}

li{
    display: inline;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-right{
    float: right;
}
