{% extends 'layout.html' %}
{% block body %}
<br>
        <main role="main">
            <!--<div class="jumbotron">-->
              <div class="col-md-3 col-md-offset-4">
            <head>
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
                <meta name="description" content="">
                <meta name="author" content="">
                <link rel="icon" href="../../../../favicon.ico">

                <title>Register here</title>

                <!-- Bootstrap core CSS -->
                <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

                <!-- Custom styles for this template -->
                <link href="signin.css" rel="stylesheet">
              </head>

              <body class="text-center">
              <!--{% from "includes/_formhelpers.html" import render_field %}-->
                <form class="form-signin" action="/register" method="post">
                  <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
                  <h1 class="h3 mb-3 font-weight-normal">Register here</h1>
                     <label for="inputFirstname" class="sr-only">First name</label>
                  <input type="text" name="firstName" id="inputFirstname" class="form-control" placeholder="First name" required autofocus>
                    <br>
                    <label for="inputLastname" class="sr-only">Last name</label>
                  <input type="text" name="lastName" id="inputLastname" class="form-control" placeholder="Last name" required autofocus>
                    <br>
                 <label for="inputAddress" class="sr-only">Street address</label>
                  <input type="text" name="address" id="inputAddress" class="form-control" placeholder="Street address" required autofocus>
                    <br>
                    <label for="inputCity" class="sr-only">City</label>
                  <input type="text" name="city" id="inputCity" class="form-control" placeholder="City" required autofocus>
                    <br>
                  <label for="inputEmail" class="sr-only">Email address</label>
                  <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                    <br>
                  <label for="inputPassword" class="sr-only">Password</label>
                  <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
                    <br>
                    <label for="inputConfirmPassword" class="sr-only">Confrim password</label>
                  <input type="password" name="confirm" id="inputConfirmPassword" class="form-control" placeholder="Confirm password" required>
                    <a href="/login"> Already a member?</a>
                  <button class="btn btn-lg btn-danger btn-block" type="submit">Register</button>
                  <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
                </form>
              </body>
              </div>
            <!--</div>-->
          </main>
{% endblock %}